.country-card{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 80px;
    background-color: var(--country-card-bg-color);


    &>.back{
        align-self: flex-start;
        display: flex;
        gap: 8px;
        align-items: center;
        padding: 4px 32px;
        border-radius: 4px;
        background-color: var(--country-card-bg-secondary-color);
        box-shadow: 0px 0px 2px rgba(0,0,0,0.2);
        color: var(--country-card-main-color);

        &:hover{
            cursor: pointer;
        }

        &>p{
            color: inherit;
        }

        &>svg{
            color: inherit;
            width: 22px;
            height: 21px;

        }
    }

    &>.flag-main{
        
        display: flex;
        gap: 120px;
        align-items: center;
        flex-wrap: wrap;

        &>img{
            width: 560px;
            height: 401px;
            border-radius: 8px;
            box-shadow: 0px 0px 12px rgba(0,0,0,0.07);
        }

        &>.infos{
            flex: 1;
            max-width: 800px;
            display: flex;
            flex-direction: column;
            gap: 64px;
            
            &>div:first-of-type{
                display: flex;
                flex-direction: column;
                gap: 24px;
            

                &>h1{
                    color: var(--country-card-main-color)
                }
                
                &>div{
                    display: flex;
                    flex-direction: column;
                    
                    flex-wrap: wrap;
                    column-gap: 8px;
                    height: 160px;

                    &>p{
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 32px;
                        letter-spacing: 0px;
                        color: var(--country-card-main-color);

                        &>span{
                            font-weight: 300;
                        }
                    }
                }
            }

            &>div:last-of-type{
                display: flex;
                gap: 16px;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;

                &>p:first-of-type{
                    color: var(--country-card-main-color);
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 24px;
                    letter-spacing: 0px;
                }
                &>.country-card-border{
                    color: var(--country-card-main-color);
                    background-color: var(--country-card-bg-secondary-color);
                    border-radius: 2px;
                    width: 96px;
                    height: 28px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    box-shadow: 0px 0px 2px rgba(0,0,0,0.1);
                }
            
            }   
        }
    }
}

.loading{
    background-color: var(--country-card-bg-color);
}

@media screen and (max-width: 1400px) {
    .country-card{

        &>.flag-main{
            flex-direction: column;
            gap: 56px ;
            justify-content: center;
            align-items: center;
            
            &>.infos{
                max-width: 560px;
            }
        }
    
    }
}

@media screen and (max-width: 900px) {
    .country-card{
        padding: 40px 30px;
    }
}

@media screen and (max-width: 650px) {
    .country-card>.flag-main{
        &>img{
        width: 100%;
        height: auto;
        }

        &>.infos{
            align-items: flex-start;

            &>div:first-of-type>div{
                height: auto;
                gap: 4px;
            }
        }
    }


}